<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login To CSE255/DSE230</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    
      <form action="" method="post">
	<header>Login</header>
	<label>Username <span>*</span></label>
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"/>
	<div class="help">UCSD E-Mail ID(@ucsd.edu)</div>
	<label>Password <span>*</span></label>
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"/>
	<div class="help">8 characters</div>
        <button type="submit">Login</button>
	{% if error %}
        <div class="alert-box error"><center><span><strong>Error:</strong></span> {{ error }}</center></div>
        {% endif %}
      </form>
      
    
  </body>
</html>

