[submodule "big-data-analytics-using-spark/BasicSpark/Reveal/reveal.js"]
	path = big-data-analytics-using-spark/BasicSpark/Reveal/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "big-data-analytics-using-spark/notebooks/BasicSpark/Reveal/reveal.js"]
	path = big-data-analytics-using-spark/notebooks/BasicSpark/Reveal/reveal.js
	url = https://github.com/hakimel/reveal.js.git
