<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PyBolt | My dashboard</title>
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/custom.min.css">
    <link href="static/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <style type="text/css" media="screen">
    #editor {
        /*position: absolute;*/
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #editor2 {
        /*position: absolute;*/
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #jobs td {
        text-align: center;
    }

    #jobs th {
        text-align: center;
    }

    .progress {
        height: 18px;
    }

    .progress .progress-bar {
        font-size: 15px;
        line-height: 15px;
    }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="home">
    <div class="navbar navbar-default navbar-fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fa fa-bolt"></i> PyBolt <sub><small>beta</small></sub></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/dashboard">My Dashboard</a>
                    </li>
                    <li>
                        <a href="/help">Help</a>
                    </li>
                    <li>
                        <a href="http://mas-dse.github.io/DSE230/" target="_blank">DSE 230 Website</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>{{g.user.name}}</a></li>
                    <li><a href="/logout">Log Out
                    <!-- <button type="button" onclick="location.href='/logout'" class="btn btn-info btn-sm">Log Out</button> -->
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="splash" style="background-position: 0px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->
                    <h2>My Dashboard | Playground</h2>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="alert alert-info col-md-8 text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{message}}
            </div>
            <div class="col-md-2"></div>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <p>
                    <button type="button" class="btn btn-default disabled">Playground</button>
                    <button type="button" class="btn btn-default" onClick="location.href='/alljobs'">View last 100 jobs</button>
                    <!-- <button type="button" class="btn btn-default">Pending Jobs</button> -->
                    <button type="button" class="btn btn-default" onClick="location.href='/homework'">Submit final homework</button>
                    <button type="button" class="btn btn-default" onClick="location.href='/grades'">My Grades</button>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Upload your PySpark file</div>
                    <div class="panel-body">
                        <p>Upload any .py file to execute it on the cloud and see the results.</p>
                        <label class="control-label">Select File</label>
                        <input id="input-1" type="file" data-show-preview="false">
                    </div>
                    <div id="error-container"></div>
                    <div id="success-container" class="alert alert-success fade in" style="margin-top:10px;display:none" data-alert="alert">Your job has been submitted successfully! Please refresh this page in sometime to see the job status and results!</div>
                </div>
            </div>
            <div class="col-md-6">
            <p>Required header in .py file</p>
                            <div id="editor2" style="min-height: 140px;"># Name: <Your Name>
# Email: <Your email>
# PID: <Your PID>
from pyspark import SparkContext
sc = SparkContext()
# Your program here</div><br>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title pull-left">My submissions </h2>
                            <button class="btn btn-primary btn-sm pull-right" onClick="window.location.reload()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <table id="jobs" class="table table-sm text-center">
                                <thead>
                                    <tr>
                                        <th>Job ID</th>
                                        <th>Submission Time</th>
                                        <th>Current Status</th>
                                        <th>Duration(in sec)</th>
                                        <th>Error</th>
                                        <th>Stdout</th>
                                        <th>Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in jobs_list %}
                                    <tr>
                                        <th scope="row">{{job["jobid"]}}</th>
                                        <td>{{job["timestamp"]}}</td>
                                        <td>{{job["status"]}}</td>
                                        <td>{{job["duration"]}}</td>
                                        {% if job["stderror"]=="link" %}
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="getCode('stderror','{{job.jobid}}')">
                                                View stderr
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm" onclick="getCode('stdout','{{job.jobid}}')">
                                                View stdout
                                            </button>
                                        </td>
                                        {% else %}
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        {% endif %}
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm" onclick="getCode('code','{{job.jobid}}')">
                                                View code
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
        <br>
        <br>
        <!-- Modal -->
        <div class="modal" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Code</h4>
                    </div>
                    <div class="modal-body">
                        <div id="editor" style="min-height: 300px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="static/js/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/python");
        editor.setFontSize(14);
        editor.setOptions({
            maxLines: Infinity
        });

        var editor2 = ace.edit("editor2");
        // editor2.setTheme("ace/theme/monokai");
        editor2.getSession().setMode("ace/mode/python");
        editor2.setFontSize(14);
        editor2.setOptions({
            maxLines: Infinity
        });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/js/fileinput.js" type="text/javascript"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script>
        $("#input-1").fileinput({
            allowedFileExtensions: ["py"],
            maxFileCount: 1,
            showUpload: true,
            uploadUrl: "/upload",
            elErrorContainer: '#error-container'
        }).on('fileuploaded', function(event, data) {
            // alert(data.response.jobid);
            var job = data.response;
            var message = "<br>Job ID: " + job.jobid;
            $('#success-container').fadeIn();
            $('#success-container').append(message);
            var out = '';
            out = '<tr><th scope="row">' + job.jobid + '</th> \
      <td>' + job.timestamp + '</td> \
      <td>Pending</td><td>N/A</td><td>N/A</td><td>N/A</td><td><button type="button" class="btn btn-info btn-sm" onclick="getCode(\'code\',\'' + job.jobid + '\')">View code   </button></td> </tr>';
            $("#jobs tbody").prepend(out);


        });

        $(window).scroll(function() {
            var top = $(document).scrollTop();
            $('.splash').css({
                'background-position': '0px -' + (top / 3).toFixed(2) + 'px'
            });
            if (top > 50)
                $('#home > .navbar').removeClass('navbar-transparent');
            else
                $('#home > .navbar').addClass('navbar-transparent');
        });

        function getCode(type, jobid) {
            var code = "";
            $.get("/pushtext/" + type + "/" + jobid, function(data) {
                code = data;
                editor.setValue(data, -1);
                $('#myModalLabel').text(type);
                $('#codeModal').modal('toggle');
                editor.resize();
            });
        }
        </script>
</body>

</html>
